#mainNav {
  border-bottom: 1px solid rgba(45,45,45,.1);
  transition: all .2s;
}

#mainNav {
  border-bottom: 1px solid rgba(45,45,45,.1);
  transition: all .2s;
}

#mainNav {
  border-bottom: 1px solid rgba(45,45,45,.1);
  transition: all .2s;
}

#mainNav {
  border-bottom: 1px solid rgba(45,45,45,.1);
  transition: all .2s;
}

.navbar {
  background-color: #2d2c38;
}

#mainNav {
  border-bottom: 1px solid rgba(45,45,45,.1);
  transition: all .2s;
}

